[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-simplecite"]
	path = themes/hugo-simplecite
	url = https://github.com/joksas/hugo-simplecite
