{{ $name := .Get 0 }}
{{ $pdfSrc := printf "%s.pdf" $name }}
{{ $pdf := .Page.Resources.Get $pdfSrc | fingerprint "md5" }}
{{ $svgSrc := printf "%s.artifact.svg" $name }}
{{ $svg := .Page.Resources.Get $svgSrc | fingerprint "md5" }}
<a href="{{ $pdf.RelPermalink }}" target="_blank" style="float: right; font-size: 12px; text-decoration: none;">📄 View as PDF</a>
<div id="typst-app">
{{ $svg.Content | safeHTML }}
</div>
<script>
    function scaleSVG() {
        const post = document.querySelector('.post-content');
        const parent = post.querySelector('#typst-app');
        const svg = parent.querySelector('svg.typst-doc');
        const g = svg.querySelector('.typst-page');

        const { post_width, post_height } = post.getBoundingClientRect();
        const { width, height } = parent.getBoundingClientRect();

        orginal_width = parseInt(svg.getAttribute('data-width'));
        orginal_height = parseInt(svg.getAttribute('data-height'));

        const translateX = Math.max(0, (width - orginal_width) / 2);
        const scale = Math.max(1.0, width / orginal_width);

        // svg.setAttribute('height', orginal_height * scale);

        g.setAttribute('transform', `translate(${-translateX}, 0) scale(${scale})`);

        svg.setAttribute('width', width);

        const scaled_orginal_height = orginal_height * scale;

        const ratio = orginal_width / (width + 0.0);

        const viewbox_height = ratio >= 1.0 ? scaled_orginal_height * ratio : scaled_orginal_height;

        const parent_height = ratio >= 1.0 ? scaled_orginal_height / ratio : scaled_orginal_height * ratio;

        svg.setAttribute('viewBox', `0 0 ${orginal_width} ${ viewbox_height }`);

        parent.style.height = `${parent_height}px`;
    }
    window.addEventListener('resize', scaleSVG);
    document.addEventListener("DOMContentLoaded", scaleSVG);
</script>
